Repository Azure-Samples/openhack-devops-team: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-trips-go-joelst.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any of: apis/poi
  azure-pipelines-trips-go-joelst.yml: any of: apis/trips, but not: apis/poi, apis/user-java, apis/userprofile
  azure-pipelines.yml: any of: apis/trips, but not: apis/poi, apis/user-java, apis/userprofile

Update dotnet.yml
  .github/workflows/dotnet.yml
Due: none

Updated the docker file
  apis/poi/web/Dockerfile
Due: azure-pipelines-1.yml

Updated the github actions file
  .github/workflows/dotnet.yml
Due: none

Updated the github actions file and test
  .github/workflows/dotnet.yml
  apis/poi/tests/UnitTests/HealthCheckTests.cs
Due: azure-pipelines-1.yml

Updated the github actions file and test
  apis/poi/tests/UnitTests/HealthCheckTests.cs
Due: azure-pipelines-1.yml

Updated the github actions file and deploy job
  .github/workflows/dotnet.yml
Due: none

Update Dockerfile with MCR images (#276)
  apis/poi/web/Dockerfile
Due: azure-pipelines-1.yml

fixes userprofile unit tests (#227)
  apis/userprofile/config/swagger.json
  apis/userprofile/package.json
Due: none

Update README.md (#299)
  README.md
Due: none

3.1
  apis/poi/web/Dockerfile
Due: azure-pipelines-1.yml

HealthCheckResponse
  apis/poi/web/Startup.cs
Due: azure-pipelines-1.yml

HealthCheckResponse (#302)
  apis/poi/web/Startup.cs
Due: azure-pipelines-1.yml

added devcontainer (#226)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

devcon
  .devcontainer/Dockerfile
  apis/user-java/Dockerfile
  apis/userprofile/Dockerfile
Due: none

.
  .devcontainer/devcontainer.json
  apis/userprofile/README.md
Due: none

go
  .devcontainer/Dockerfile
  apis/trips/Dockerfile
  apis/trips/glide.yaml
  apis/trips/go.mod
Due: azure-pipelines-trips-go-joelst.yml, azure-pipelines.yml

cleanup
  .devcontainer/Dockerfile
Due: none

Devcontainer (#303)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  apis/trips/Dockerfile
  apis/trips/glide.yaml
  apis/trips/go.mod
  apis/user-java/Dockerfile
  apis/userprofile/Dockerfile
  apis/userprofile/README.md
Due: azure-pipelines-trips-go-joelst.yml, azure-pipelines.yml

npm updates
  .devcontainer/devcontainer.json
  apis/userprofile/package-lock.json
  apis/userprofile/package.json
Due: none

npm updates (#307)
  .devcontainer/devcontainer.json
  apis/userprofile/package-lock.json
  apis/userprofile/package.json
Due: none

Update README.md
  README.md
Due: none

Update README.md (#308)
  README.md
Due: none

Fix/v2 (#309)
  .devcontainer/devcontainer.json
  README.md
  apis/userprofile/package-lock.json
  apis/userprofile/package.json
Due: none

bicep init
  .gitignore
  bicep/appService.bicep
  bicep/containerGroup.bicep
  bicep/containerRegistry.bicep
  bicep/main.bicep
  bicep/resourceGroup.bicep
  bicep/sqlServer.bicep
  bicep/variables.json
Due: none

.
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  bicep/sqlServer.bicep
Due: none

bicep basic deployment (#310)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
  bicep/appService.bicep
  bicep/containerGroup.bicep
  bicep/containerRegistry.bicep
  bicep/main.bicep
  bicep/resourceGroup.bicep
  bicep/sqlServer.bicep
  bicep/variables.json
Due: none

tr init + bicep fixes
  .gitignore
  bicep/appService.bicep
  bicep/containerGroup.bicep
  bicep/containerRegistry.bicep
  bicep/deploy.sh
  bicep/main.bicep
  bicep/sqlServer.bicep
  bicep/variables.json
  terraform/deploy.sh
  terraform/locals.defaults.tf
  terraform/locals.tf
  terraform/main.tf
  terraform/myip.sh
  terraform/providers.tf
  terraform/variables.tf
Due: none

tr init + bicep fixes (#311)
  .gitignore
  bicep/appService.bicep
  bicep/containerGroup.bicep
  bicep/containerRegistry.bicep
  bicep/deploy.sh
  bicep/main.bicep
  bicep/sqlServer.bicep
  bicep/variables.json
  terraform/deploy.sh
  terraform/locals.defaults.tf
  terraform/locals.tf
  terraform/main.tf
  terraform/myip.sh
  terraform/providers.tf
  terraform/variables.tf
Due: none

resourcesPrefix & deploy scripts
  bicep/appService.bicep
  bicep/containerGroup.bicep
  bicep/containerRegistry.bicep
  bicep/deploy.sh
  bicep/main.bicep
  bicep/sqlServer.bicep
  terraform/deploy.sh
  terraform/locals.tf
  terraform/variables.tf
Due: none

lint
  .devcontainer/Dockerfile
  apis/poi/web/poi.csproj
  bicep/bicepconfig.json
  bicep/deploy.sh
  bicep/main.bicep
  bicep/variables.json
  terraform/deploy.sh
Due: azure-pipelines-1.yml

.
  terraform/deploy.sh
Due: none

deploy .
  bicep/deploy.sh
  terraform/deploy.sh
Due: none
