Repository Azure-Samples/openhack-devops-team: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-trips-go-joelst.yml, azure-pipelines.yml

azure-pipelines-1.yml:
  stages:
  - stage: Build
    displayName: Build image
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Docker@2
        displayName: Build and push an image to container registry
        inputs:
          command: buildAndPush
  ...

azure-pipelines-trips-go-joelst.yml:
  name: Trips-Go-Build
  pool:
    vmImage: ubuntu-latest
  jobs:
  - job: Build
    steps:
    - task: GoTool@0
      inputs:
        version: 1.13.5
    - task: Go@0
      displayName: Go Get
      inputs:
        command: get
        arguments: -d
        workingDirectory: $(System.DefaultWorkingDirectory)/apis/trips/*
  ...

azure-pipelines.yml:
  name: Poi Services Build
  pool:
    vmImage: windows-latest
  jobs:
  - job: Build
    steps:
    - task: NuGetToolInstaller@1
    - task: NuGetCommand@2
      inputs:
        restoreSolution: $(solution)
    - task: VSBuild@1
      inputs:
        solution: $(solution)
  ...

.
  iac/bicep/appService.Test.ps1
  iac/bicep/main.bicep
  iac/terraform/appService.Test.ps1
  iac/terraform/outputs.tf
Due: none

. (#322)
  iac/bicep/appService.Test.ps1
  iac/bicep/main.bicep
  iac/terraform/appService.Test.ps1
  iac/terraform/outputs.tf
Due: none

test
  iac/bicep/smokeTest.ps1
  iac/terraform/smokeTest.ps1
Due: none

test (#323)
  iac/bicep/smokeTest.ps1
  iac/terraform/smokeTest.ps1
Due: none

tests
  iac/bicep/appService.Test.ps1
  iac/terraform/appService.Test.ps1
Due: none

tests (#324)
  iac/bicep/appService.Test.ps1
  iac/terraform/appService.Test.ps1
Due: none

v2
  iac/bicep/appService.Test.ps1
  iac/terraform/appService.Test.ps1
Due: none

v2 (#325)
  iac/bicep/appService.Test.ps1
  iac/terraform/appService.Test.ps1
Due: none

devcontainer docker file fix
  .devcontainer/Dockerfile
Due: none

devcontainer docker file fix (#326)
  .devcontainer/Dockerfile
Due: none

buildtest scripts
  apis/trips/buildtest.sh
  apis/user-java/buildtest.sh
  apis/userprofile/buildtest..sh
  apis/userprofile/buildtest.sh
Due: azure-pipelines-trips-go-joelst.yml, azure-pipelines.yml

Update main.bicep
  iac/bicep/main.bicep
Due: none

Update main.bicep (#328)
  iac/bicep/main.bicep
Due: none

poi tests
  apis/poi/README.md
  apis/poi/buildtest.sh
Due: azure-pipelines-1.yml

poi tests (#330)
  apis/poi/README.md
  apis/poi/buildtest.sh
Due: azure-pipelines-1.yml

trips - build & test
  .gitignore
  apis/poi/README.md
  apis/poi/buildtest.sh
  apis/trips/README.md
  apis/trips/buildtest.sh
  apis/trips/install_gotestsum.sh
Due: azure-pipelines-1.yml, azure-pipelines-trips-go-joelst.yml, azure-pipelines.yml

trips - build & test (#331)
  .gitignore
  apis/poi/README.md
  apis/poi/buildtest.sh
  apis/trips/README.md
  apis/trips/buildtest.sh
  apis/trips/install_gotestsum.sh
Due: azure-pipelines-1.yml, azure-pipelines-trips-go-joelst.yml, azure-pipelines.yml

userjava
  apis/user-java/README.md
  apis/user-java/buildtest.sh
Due: none

userprofile
  apis/userprofile/buildtest.sh
Due: none

trips go fix
  apis/trips/README.md
  apis/trips/buildtest.sh
Due: azure-pipelines-trips-go-joelst.yml, azure-pipelines.yml

User (#332)
  apis/trips/README.md
  apis/trips/buildtest.sh
  apis/user-java/README.md
  apis/user-java/buildtest.sh
  apis/userprofile/buildtest.sh
Due: azure-pipelines-trips-go-joelst.yml, azure-pipelines.yml

dev ver
  apis/poi/tests/UnitTests/Utility/POIConfigurationTests.cs
  iac/terraform/appservice_poi.tf
  iac/terraform/appservice_trips.tf
  iac/terraform/appservice_userjava.tf
  iac/terraform/appservice_userprofile.tf
  iac/terraform/deploy.sh
  iac/terraform/locals.tf
  iac/terraform/main.tf
  iac/terraform/outputs.tf
  iac/terraform/providers.tf
  support/resources/generic_endpoint.sh
  support/resources/generic_endpoint_template.json
  support/resources/healthcheck_polling.sh
  support/resources/polling.ps1
  support/resources/polling.sh
  support/tripviewer/Dockerfile
  support/tripviewer/web/Controllers/HomeController.cs
  support/tripviewer/web/Utility/TripViewerConfiguration.cs
  support/tripviewer/web/Views/Home/Index.cshtml
  support/tripviewer/web/appsettings.Development.json
  support/tripviewer/web/appsettings.json
Due: azure-pipelines-1.yml

.
  iac/terraform/main.tf
Due: none

P1V2
  iac/terraform/main.tf
Due: none

STAGING_USER_ROOT_URL
  iac/terraform/main.tf
Due: none

PremiumV2
  iac/terraform/main.tf
Due: none

P1v2
  iac/terraform/main.tf
Due: none

h4h4
  support/tripviewer/web/Views/Home/Index.cshtml
Due: none

Big change (#333)
  apis/poi/tests/UnitTests/Utility/POIConfigurationTests.cs
  iac/terraform/appservice_poi.tf
  iac/terraform/appservice_trips.tf
  iac/terraform/appservice_userjava.tf
  iac/terraform/appservice_userprofile.tf
  iac/terraform/deploy.sh
  iac/terraform/locals.tf
  iac/terraform/main.tf
  iac/terraform/outputs.tf
  iac/terraform/providers.tf
  support/resources/generic_endpoint.sh
  support/resources/generic_endpoint_template.json
  support/resources/healthcheck_polling.sh
  support/resources/polling.ps1
  support/resources/polling.sh
  support/tripviewer/Dockerfile
  support/tripviewer/web/Controllers/HomeController.cs
  support/tripviewer/web/Utility/TripViewerConfiguration.cs
  support/tripviewer/web/Views/Home/Index.cshtml
  support/tripviewer/web/appsettings.Development.json
  support/tripviewer/web/appsettings.json
Due: azure-pipelines-1.yml

tf docker_registry
  iac/terraform/appservice_poi.tf
  iac/terraform/appservice_trips.tf
  iac/terraform/appservice_userjava.tf
  iac/terraform/appservice_userprofile.tf
  iac/terraform/deploy.sh
  iac/terraform/locals.tf
  iac/terraform/main.tf
  iac/terraform/variables.tf
Due: none

tf docker_registry (#334)
  iac/terraform/appservice_poi.tf
  iac/terraform/appservice_trips.tf
  iac/terraform/appservice_userjava.tf
  iac/terraform/appservice_userprofile.tf
  iac/terraform/deploy.sh
  iac/terraform/locals.tf
  iac/terraform/main.tf
  iac/terraform/variables.tf
Due: none

v2
  support/simulator/DeviceSim/Controllers/BaseTRipController.cs
  support/simulator/DeviceSim/DataObjects/ModelExtensions/mydrivingDBContext.cs
  support/simulator/DeviceSim/DataObjects/Models/mydrivingDBContext.cs
  support/simulator/DeviceSim/DeviceSim.csproj
  support/simulator/DeviceSim/Program.cs
  support/simulator/Dockerfile
Due: none

sqlsecrot
  iac/terraform/main.tf
  support/sqlsecretrotation/iac/terraform/deploy.sh
  support/sqlsecretrotation/iac/terraform/locals.tf
  support/sqlsecretrotation/iac/terraform/main.tf
  support/sqlsecretrotation/iac/terraform/providers.tf
  support/sqlsecretrotation/iac/terraform/variables.tf
  support/sqlsecretrotation/src/.dockerignore
  support/sqlsecretrotation/src/AKVSQLRotation.cs
  support/sqlsecretrotation/src/AKVSQLRotationHttp.cs
  support/sqlsecretrotation/src/Dockerfile
  support/sqlsecretrotation/src/KeyVault-Rotation-SQLPassword-Csharp.csproj
  support/sqlsecretrotation/src/SecretRotator.cs
  support/sqlsecretrotation/src/host.json
  support/sqlsecretrotation/src/local.settings.json
Due: none

bicep
  support/sqlsecretrotation/.azure-pipelines/pipeline.bicep.sqlsecrot.yml
  support/sqlsecretrotation/.azure-pipelines/pipeline.terraform.sqlsecrot.yml
  support/sqlsecretrotation/iac/bicep/deploy.sh
  support/sqlsecretrotation/iac/bicep/keyVault.bicep
  support/sqlsecretrotation/iac/bicep/main.bicep
  support/sqlsecretrotation/iac/terraform/deploy.sh
  support/sqlsecretrotation/iac/terraform/locals.tf
  support/sqlsecretrotation/iac/terraform/main.tf
  support/sqlsecretrotation/iac/terraform/variables.tf
Due: none

gh
  support/sqlsecretrotation/.github/workflows/workflow.bicep.sqlsecrot.yml
Due: none

typo
  support/sqlsecretrotation/.github/workflows/workflow.bicep.sqlsecrot.yml
Due: none

Path conditions:
  azure-pipelines-1.yml: any of: apis/poi
  azure-pipelines-trips-go-joelst.yml: any of: apis/trips, but not: apis/poi, apis/user-java, apis/userprofile
  azure-pipelines.yml: any of: apis/trips, but not: apis/poi, apis/user-java, apis/userprofile
