Repository Azure-Samples/openhack-devops-team: changes, and which Jenkins stages are due for each by the changed paths.
All: poi, trips Tests run, trips build Image and Push, user-java Tests Run, user-java build Image and Push, userprofile

poi:
              steps {
                  echo 'poi'
              }
          

trips Tests run:
              agent {
                  docker { image 'golang:1.11.0' }
              }
              steps {
                  sh 'cd apis/trips/ && go mod vendor && go test ./test'
              }
          

trips build Image and Push:
               steps {
                    script {
                          def img = docker.build("openhacks3n5acr.azurecr.io/devopsoh/api-trip:${env.BUILD_NUMBER}", "apis/trips")
                          img.push()
                    }
               }
          

user-java Tests Run:
              agent {
                  docker { image 'maven:3-alpine' }
              }
              steps {
                  sh 'mvn -f apis/user-java/pom.xml test'
              }
          

user-java build Image and Push:
               steps {
                    script {
                          def img = docker.build("openhacks3n5acr.azurecr.io/devopsoh/api-user-java:${env.BUILD_ID}", "apis/user-java")
                          img.push()
                    }
               }
          

userprofile:
              steps {
                  echo 'userprofile'
              }
           

OH-2 changing the order of the test phase and the build phase
  apis/user-java/Jenkinsfile
Due: user-java Tests Run, user-java build Image and Push

sonarQuve #2
  Jenkinsfile
  apis/user-java/README.md
Due: user-java Tests Run, user-java build Image and Push

fixing path
  apis/trips/Jenkinsfile
Due: trips Tests run, trips build Image and Push

npm tests
  apis/userprofile/package.json
Due: userprofile

remove useless env sonarqube line
  Jenkinsfile
Due: none

coverage jacoco
  apis/user-java/README.md
Due: user-java Tests Run, user-java build Image and Push

test go
  Jenkinsfile
Due: none

unit treshold and coverage
  apis/poi/test.sh
  apis/poi/tests/UnitTests/UnitTests.csproj
  apis/poi/tools/tools.csproj
Due: poi

coverage jacoco #2
  Jenkinsfile
  apis/user-java/README.md
Due: user-java Tests Run, user-java build Image and Push

jenkinsfile edit
  apis/poi/Jenkinsfile
  apis/poi/test.sh
Due: poi

changed stage name
  apis/poi/Jenkinsfile
Due: poi

fixing code coverage
  apis/trips/Jenkinsfile
Due: trips Tests run, trips build Image and Push

test go
  apis/trips/tripsgo/queries.go
Due: trips Tests run, trips build Image and Push

OH-2 changing java tool
  apis/user-java/Jenkinsfile
Due: user-java Tests Run, user-java build Image and Push

adding go tool
  apis/trips/Jenkinsfile
Due: trips Tests run, trips build Image and Push

add jacoco plugin in pom
  apis/user-java/pom.xml
Due: user-java Tests Run, user-java build Image and Push

missing commas
  apis/poi/Jenkinsfile
Due: poi

add jacoco plugin in pom #2
  apis/user-java/pom.xml
Due: user-java Tests Run, user-java build Image and Push

removing dump to html
  apis/trips/Jenkinsfile
Due: trips Tests run, trips build Image and Push

coverage okgit add ../../Jenkinsfile !
  Jenkinsfile
Due: none

Fixing code coverage
  apis/trips/Jenkinsfile
Due: trips Tests run, trips build Image and Push

changing go version
  apis/trips/Jenkinsfile
Due: trips Tests run, trips build Image and Push

Go (#9)
  Jenkinsfile
  apis/trips/tripsgo/errorMessage.go
  apis/trips/tripsgo/logger.go
  apis/trips/tripsgo/queries.go
Due: trips Tests run, trips build Image and Push

OH-2 changing order
  apis/user-java/Jenkinsfile
Due: user-java Tests Run, user-java build Image and Push

test go
  apis/trips/tripsgo/trip.go
Due: trips Tests run, trips build Image and Push

sonarQube #1
  Jenkinsfile
  apis/user-java/README.md
Due: user-java Tests Run, user-java build Image and Push

sonarQube #2
  Jenkinsfile
  apis/user-java/README.md
Due: user-java Tests Run, user-java build Image and Push

sonarQube #3
  Jenkinsfile
Due: none

add sonar docker file
  apis/poi/tests/Dockerfile
Due: poi

sonarQube #4
  Jenkinsfile
  apis/user-java/README.md
Due: user-java Tests Run, user-java build Image and Push

Path conditions:
  poi: any of: apis/poi/**
  trips Tests run: any of: apis/trips/**
  trips build Image and Push: any of: apis/trips/**
  user-java Tests Run: any of: apis/user-java/**
  user-java build Image and Push: any of: apis/user-java/**
  userprofile: any of: apis/userprofile/**
