Repository Azure-Samples/openhack-devops-team: changes, and which Jenkins stages are due for each by the changed paths.
All: user-java build Image and Push, userprofile

user-java build Image and Push:
               steps {
                    script {
                          def img = docker.build("openhacks3n5acr.azurecr.io/devopsoh/api-user-java:${env.BUILD_ID}", "apis/user-java")
                          img.push()
                    }
               }
          

userprofile:
              steps {
                  echo 'userprofile'
              }
           

T
  apis/user-java/README.md
Due: user-java build Image and Push

Added sudo
  Jenkinsfile
  apis/user-java/README.md
Due: user-java build Image and Push

Tb
  apis/user-java/README.md
Due: user-java build Image and Push

fixed test.sh
  apis/poi/test.sh
Due: none

test helm
  Jenkinsfile
Due: none

github issue #1
  Jenkinsfile
  apis/user-java/README.md
Due: user-java build Image and Push

github issue #2
  Jenkinsfile
  apis/user-java/README.md
Due: user-java build Image and Push

adding throwing the error
  apis/user-java/Jenkinsfile
Due: user-java build Image and Push

adding a mistake in the test
  apis/user-java/src/test/java/UserApiControllerTest.java
Due: user-java build Image and Push

run tests.
  apis/user-java/src/test/java/UserApiControllerTest.java
Due: user-java build Image and Push

deploy helm for go trip
  Jenkinsfile
Due: none

add helm upgrade for user-java (#17)
  Jenkinsfile
Due: none

add poi stages to jenkinsfile
  Jenkinsfile
Due: none

correct volume map path
  Jenkinsfile
Due: none

test poi stages
  apis/poi/tests/UnitTests/UtilityTests.cs
Due: none

helm npm
  apis/userprofile/Jenkinsfile
  apis/userprofile/helm/values.yaml
Due: userprofile

helm npm
  apis/userprofile/Jenkinsfile
Due: userprofile

helm
  apis/poi/Jenkinsfile
  apis/trips/Jenkinsfile
  apis/user-java/Jenkinsfile
Due: user-java build Image and Push

map dotnet
  Jenkinsfile
Due: none

test dotnet permissions
  apis/poi/tests/UnitTests/UtilityTests.cs
Due: none

test poi pipeline
  apis/poi/tests/UnitTests/UtilityTests.cs
Due: none

Userprofile (#18)
  Jenkinsfile
Due: none

update poi pipeline
  Jenkinsfile
Due: none

test poi pipeline again
  apis/poi/tests/UnitTests/UtilityTests.cs
Due: none

dummy (#21)
  apis/userprofile/helm/README.md
Due: userprofile

update poi pipeline again
  Jenkinsfile
Due: none

test poi pipe
  Jenkinsfile
  apis/poi/tests/UnitTests/UtilityTests.cs
Due: none

test poi pipe
  Jenkinsfile
Due: none

helm/values.yaml
  apis/user-java/helm/values.yaml
  apis/userprofile/helm/templates/deployment.yaml
Due: user-java build Image and Push, userprofile

add blue/green (#23)
  apis/userprofile/helm/Chart.yaml
  apis/userprofile/helm/templates/deployment_blue.yaml
  apis/userprofile/helm/templates/deployment_green.yaml
  apis/userprofile/helm/templates/service.yaml
  apis/userprofile/helm/values.yaml
Due: userprofile

Add nyc code coverage
  apis/userprofile/.gitignore
  apis/userprofile/package-lock.json
  apis/userprofile/package.json
Due: userprofile

Add cobertura output format
  apis/userprofile/package.json
Due: userprofile

passing cobertura coverage
  apis/userprofile/.gitignore
  apis/userprofile/package.json
Due: userprofile

helm blue/gree (#26)
  Jenkinsfile
  apis/userprofile/helm/Chart.yaml
  apis/userprofile/helm/templates/service.yaml
Due: userprofile

Path conditions:
  user-java build Image and Push: any of: apis/user-java/**
  userprofile: any of: apis/userprofile/**
