Repository Azure-Samples/openhack-devops-team: changes, and which Jenkins stages are due for each by the changed paths.
All: poi, trips, user-java, userprofile

poi:
              steps {
                  echo 'poi'
              }
          

trips:
              steps {
                  echo 'trips'
              }
          

user-java:
              steps {
                  script {
                      docker.withServer("tcp://10.0.0.4:4243") {
                          def img = docker.build("openhacks3n5acr.azurecr.io/devopsoh/api-user-java:1", "apis/user-java")
                          img.push()
                      }
  ...

userprofile:
              steps {
                  echo 'userprofile'
              }
           

Trigger poi build
  apis/poi/README.md
Due: poi

Added github status update
  Jenkinsfile
Due: none

Changed
  apis/user-java/README.md
Due: user-java

Aded description
  Jenkinsfile
Due: none

Change
  apis/user-java/README.md
Due: user-java

Cred
  Jenkinsfile
Due: none

Docker agent
  Jenkinsfile
Due: none

A
  apis/user-java/README.md
Due: user-java

Removed github notify
  Jenkinsfile
Due: none

npm tests
  apis/userprofile/Jenkinsfile
Due: userprofile

npm tests
  apis/userprofile/package.json
Due: userprofile

test filter
  README.md
Due: none

User java pascal (#7)
  Jenkinsfile
  README.md
  apis/poi/README.md
  apis/user-java/README.md
Due: poi, user-java

test go
  Jenkinsfile
  apis/trips/tripsgo/logger.go
Due: trips

test go
  apis/trips/tripsgo/errorMessage.go
Due: trips

publish tests result
  Jenkinsfile
  apis/user-java/README.md
Due: user-java

missing bracket
  Jenkinsfile
  apis/user-java/README.md
Due: user-java

test go
  Jenkinsfile
Due: none

Moving to Jenkinsfile
  apis/trips/Dockerfile
  apis/trips/Jenkinsfile
Due: trips

sonarQuve #1
  Jenkinsfile
  apis/user-java/README.md
Due: user-java

Moving to Jenkinsfile
  apis/trips/Jenkinsfile
Due: trips

OH-2 Adding a github issue and test coverage
  apis/user-java/Dockerfile
  apis/user-java/Jenkinsfile
  apis/user-java/pom.xml
Due: user-java

fixing path
  apis/trips/Jenkinsfile
Due: trips

OH-2 Adding a script wrapping the try catch
  apis/user-java/Jenkinsfile
Due: user-java

OH-2 removing unused statement
  apis/user-java/Jenkinsfile
Due: user-java

OH-2 fixing
  apis/user-java/Jenkinsfile
Due: user-java

Path conditions:
  poi: any of: apis/poi/**
  trips: any of: apis/trips/**
  user-java: any of: apis/user-java/**
  userprofile: any of: apis/userprofile/**
